body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    font-size: 30px;
    font-weight: 1.5;
    line-height: 1.5;
    color: #292b2c;
    background-color: #fff;
  }

  .title {
    margin-top: 20px;
    font-size: 50px;
    font-weight: bold;
    color: #63104a;
    text-align: center;
  }

  .infos {
    font-size: 15px;
  }

  .wrapper {
    margin: auto;
    width: 30%;
    padding: 10px;
    padding-top: 50px;
    text-align: center;
  }

  .searchButton {
    font-size: 20px;
    background-color: #63104a;
    color: white;
    padding: 4px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 5px;
    height: 33px;
  }

  .input {
    width: 80%;
    height: 33px;
  }
