body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    font-size: 30px;
    font-weight: 1.5;
    line-height: 1.5;
    color: #292b2c;
    background-color: #fff;
  }

  .searchTitle {
    margin-top: 20px;
    color: #63104a;
    text-align: center;
    font-weight: bold;
  }

  .resultsList{
    margin: auto;
    width: 70%;
    padding: 10px;
    text-align: left;
    font-size: 25px;
    color: #63104a;
  
  }

  .result{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: #b380a3;
  }